<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <table class="table">
                <tr>

                    <th th:text="#{dish}">name of Dish</th>
                    <th th:text="#{price}">price of dish</th>
                    <th th:text="#{amAdded}">Amount added</th>

                </tr>
                <tr th:each="entry: ${map}">
                    <td th:if="#{lang }== '??lang_en??'" th:text="${entry.key.name}"></td>
                    <td th:unless="#{lang }== '??lang_en??'" th:text="${entry.key.nameUkr}"></td>
                    <td th:text="${entry.key.price}"></td>
                    <td th:text="${entry.value}"></td>



            </table>

            <div class="container" style="max-width: 90%">
                <table class="table">
                    <tr>
                        <th th:text="#{product}" >Product</th>
                        <th th:text="#{needAm}" >needed amount</th>
                    </tr>
                    <tr th:each="entry2: ${map2}">
                        <td th:text="${entry2.key}"></td>
                        <td th:text="${entry2.value}"></td>
                </table>


            <form th:action="@{/checkOrder/Confirm}" method="post">
                <button type="submit" value="Registrate" class="btn btn-default"
                        style="margin-top:30px;color: black" name="ind" th:value="${index}" th:text="#{confirm}">Confirm</button>
            </form>
        </div>
            <script type="text/javascript" src="/js/locale.js"></script>
    </body>
</html>