<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title th:text="#{menu}">Document</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
    </head>
    <body>
        <div class="navbar">
            <th:block th:include="/navigationBarMainPage"></th:block>
            <div class="localeDiv">
                <th:block th:include="/localeR"></th:block>
            </div>
        </div>

        <div class="container">
            <text th:if="${moneyBalance}==null"></text>
            <text th:unless="${moneyBalance}==null" th:text="#{uBalance}+' '+${moneyBalance}">you have</text>
            <text th:text="${message}" style="color: red">error message</text>
            <h1 th:text="#{menu}"></h1>
            <!--     <p th:unless="${dishes.content} and ${dishes.content.size()}"  th:text="#{noDishes}"></p>-->

            <table class="table">
                <tr>
                    <th th:text="#{foto}">foto</th>
                    <th th:text="#{dish}">name of Dish</th>
                    <th th:text="#{price}">price of dish</th>
                    <th th:text="#{products}">Products</th>
                    <th th:text="#{getNow}">GetNow</th>
                </tr>
                <tr th:each="dish, iStat : ${dishes.content}">
                    <td>
                        <img th:src="'/img/'+${dish.fileName}" alt="not here" width="100" height="100">
                    </td>
                    <td th:if="#{lang }== '??lang_en??'" th:text="${dish.name}"></td>
                    <td th:unless="#{lang }== '??lang_en??'" th:text="${dish.nameUkr}"></td>
                    <td th:text="${dish.price}"></td>
                    <td>
                        <text th:each="product:${dish.productsForDish}" th:text="${product.product}+' ' "></text>
                    </td>
                    <td>
                        <form th:action="@{/order/addToCard}" method="post">
                            <button type="submit" value="Registrate" class="btn btn-default"
                                    style="margin-top:30px;color: green" name="dish" th:value="${dish.name}"
                                    th:text="#{addDish}">AddDish
                            </button>
                        </form>
                    </td>
                </tr>
            </table>
            <text th:if="${dishes.totalPages > 0}"
                  th:each="pageNumber : ${pageNumbers}">
                <a th:href="@{/( page=${pageNumber})}"
                   th:text="${pageNumber}"
                   th:class="${pageNumber==dishes.number + 1} ? active"></a>
            </text>


        </div>

        <script type="text/javascript" src="/js/locale.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
                integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
                crossorigin="anonymous"></script>

    </body>
</html>