<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <th:block th:include="/localeR"></th:block>
        <div class="container">
            <h3 th:unless="${notEnought}==null"  style="color: red" th:text="#{notEnought}+' '+${notEnought}"></h3>

            <h1 th:text="#{nonConf}">Non confirmed orders</h1>
            <div>
                <form th:action="@{/checkOrderUser}" method="get">

                    <button  type="submit" value="Registrate" class="btn btn-default"
                            style="margin-top:30px;color: red"
                            name="ind" th:each="indx:${ind}" th:value="${indx}"
                            th:text="#{orderNum}+' '+ ${indx}"></button>

                </form></div>


        </div>
        <script type="text/javascript" src="/js/locale.js"></script>
    </body>
</html>